.post-sign-in #channel-image {
  width: 2em;
  height: 2em;
  vertical-align: middle;
}

.post-sign-in #channel-name {
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.post-sign-in {
  display: none;
  padding: 15px;
  border: 1px solid #bfbfbf;
}

.post-sign-in #title {
  min-width: 50%;
}

.post-sign-in .yt-form-item {
  margin-bottom: 1em;
}

.post-sign-in .during-upload {
  display: none;
}

.post-sign-in .post-upload {
  display: none;
}

.post-sign-in input[type="text"],
.post-sign-in textarea,
.post-sign-in progress {
  min-width: 15em;
  width: 50%;
  padding: 0.5em;
}

.post-sign-in textarea {
  min-height: 5em;
}

#edit-field-youtube-wrapper {
  padding: 15px;
  border: 1px solid #bfbfbf;
}
