{#
/**
 * @file
 * Custom theme implementation to display the form to sendo video to youtube.
 *
 * Available variables:
 * - client_id: The ID of the YouTube client API.
 *
 * @see template_preprocess_youtube_thumbnail()
 *
 * @ingroup themeable
 */
#}

<div id="custom-form-upload-video-to-youtube" xmlns="http://www.w3.org/1999/html">
    <span id="signinButton" class="pre-sign-in">
      <span
          class="g-signin"
          data-callback="signinCallback"
          data-clientid="{{ client_id }}"
          data-cookiepolicy="single_host_origin"
          data-scope="https://www.googleapis.com/auth/youtube.upload https://www.googleapis.com/auth/youtube">
      </span>
      <div class="description">
        You need sign in on youtube account to be able to send video for your channel.</br>
        You also need to add <a href="/admin/config/media/youtube-credentials" target="_blank"> Youtube Credentials on config page</a> to work.
      </div>
    </span>

    <div class="post-sign-in">
        <div class="yt-form-item">
            <h3>Send video to Youtube</h3>
            <div class="description">This is a widget for Youtube module. In the form bellow, you can upload a video directly to Youtube.</div>
        </div>

        <div class="yt-form-item">
            <label for="channel">Youtube channel logged:</label>
            <img id="channel-thumbnail">
            <span id="channel-name"></span>
        </div>

        <div class="yt-form-item">
            <label for="title">Video title:</label>
            <input id="title" class="form-text" type="text" value="Default Title">
        </div>
        <div class="yt-form-item">
            <label for="description">Video description:</label>
            <textarea id="description" class="form-textarea">Default description</textarea>
        </div>
        <div class="yt-form-item">
            <label for="privacy-status">Privacy Status:</label>
            <select id="privacy-status">
                <option>public</option>
                <option>unlisted</option>
                <option>private</option>
            </select>
        </div>

        <div>
            <input input type="file" id="file" class="button form-file" accept="video/*">
            <button id="button" class="button">Upload Video</button>
            <div class="during-upload">
                <p><span id="percent-transferred"></span>% done (<span id="bytes-transferred"></span>/<span id="total-bytes"></span> bytes)</p>
                <progress id="upload-progress" max="1" value="0"></progress>
            </div>

            <div class="post-upload">
                <label>Status</label>
                <p>Uploaded video with id <span id="video-id"></span>. Polling for status...</p>
                <ul id="post-upload-status"></ul>
                <div id="player"></div>
                <div class="description">Above you see some feedbacks from Youtube API. </br> You video will be uploaded when to appear the message "your video was sent with success!" or this form is closed.</div>
            </div>

        </div>

</div>
